<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mediaplayer">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Notification-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Notification Permission for Android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Audio Permission for android 13 or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".application.MusicApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaPlayer"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PlayerActivity"
            android:launchMode="singleTask">

        </activity>

        <activity android:name=".activity.PlaylistDetailActivity">

        </activity>

        <activity android:name=".activity.SelectionActivity"/>

        <activity android:name=".activity.FavouriteActivity"/>

        <service
            android:name=".service.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true" />

        <receiver android:name=".receiver.AudioReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.ACTION_SEND_DATA" />
            </intent-filter>
        </receiver>
    </application>

</manifest>